{% extends "base.html" %}
{% block title %}{% if person %}{{ person.name }} {{ person.surname }}{% endif %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}contacts/css/style.css"></script> 
{% endblock %}
{% block content %}
{% if person %}
<div class="contacts">
    <p>Contacts</p>
    <p>Email: {{ person.email }}</p>
    {% if person.jabber %}
    <p>Jabber: {{ person.jabber }}</p>
    {% endif %}
    {% if person.skype %}
    <p>Skype: {{ person.skype }}</p>
    {% endif %}
    {% if person.other_contacts %}
    <p>Other contacts:<br />{{ person.other_contacts }}</p>
    <p>Bio:<br />{{ person.bio }}</p>
    {% endif %}
</div>
<div class="info">
    <p>{{ person.name }}</p>
    <p>{{ person.surname }}</p>
    <p>{{ person.birth_date|date:"m.d.Y" }}</p>
    <p>Photo:<br />
    {% if person.photo %}<img src="{{ person.photo.url }}" width="330" />
    {% else %}There isn't uploaded photo yet.{% endif %}</p>
</div>
{% else %}
<p>There are no contacts in the database</p>
{% endif %}
<div class="clr"></div>
<hr />
<a href="{% url logs_list %}">requests</a>
{% endblock %}
