<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>
    <style type="text/css">
        h1 { font: 22px normal; }
        h2 { font: 20px normal; }
        .container { margin:auto; width:640px; }
        .contacts { float:right; width:300px; margin:0px; }
        .info { position:absolute; }
        .clr { clear:both; }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>42 Coffee Cups Test Assignment</h1>
      {% block content %}
      {% endblock %}
      <p><small><b>Template context processor test:</b> Site DEBUG variable is set to: {{ settings.DEBUG }}</small></p>
    </div>
  </body>
</html>
